@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #f8fafc;
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }

  .soft-shadow {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  }
  
  .ambient-shadow-sm {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
  }

  .hover-shadow:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  }

  .docked {
    position: sticky;
    top: 0;
    z-index: 50;
  }

  .full-width {
    width: 100%;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
